@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

* {
    color: black;
}

body {
    background-color: #D5DBDB;
    font-family: "Poppins", serif;
    margin: 0;
    border: 0;
    padding: 0;
}

/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
    background-color: #f4f4f9;  Very light grey background for a clean look
    color: #333;  Dark grey text for readability
    margin: 0;
    padding: 0;
    opacity: 0; Start with opacity 0 for fade-in effect
    animation: pageFadeIn 1s ease-out forwards;  Fade-in effect for entire page
} */



@keyframes pageFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hrFirst {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #8c80f7;
}

/* hr {
    margin-top: 0px;
    margin-bottom: 0px;
} */

.firstSection {
    width: 100%;
    height: fit-content;
    margin: 0;
    border: 0;
    padding: 0px;
    background-color: #D5DBDB;

    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.personName {
    font-size: 70px;
    color: blue;

    display: flex;
    justify-content: center;
}

.personDesignation {
    color: blue;

    display: flex;
    justify-content: center;
}

.contactBar {
    /* width: 100%; */
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    

    display: flex;           
    justify-content: center;
    gap: 50px;
}

.contactBar a {
    text-decoration: none;
}

.contactBar a:hover {
    color: blue;
}

.contactItem:hover {
    transform: translateY(-2px);
    transition: 0.3s ease;
}

.secondSection {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
}

/* Description */
.descriptionPara {
    text-align: center;
    font-size: 1em;
    padding: 30px;
    background-color: #ECF0F1;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 15px;
    /* color: #2C3E50; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    /* transform: translateY(3px); */
    animation: fadeInUp 1s ease-out 1.5s forwards;
    transition: all 0.3s ease-in-out;
}


.descriptionPara:hover {
    background-color: #D5DBDB;
    border-color: #8c80f7;
    /* transform: translateY(-5px); */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.edTblSec {
    margin: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 35px;
    padding-left: 10px;
    background-color: #ECF0F1;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    animation: fadeInUp 1s ease-out 1.5s forwards;
    transition: all 0.3s ease-in-out;
}

.edTblSec:hover {
    background-color: #D5DBDB;
    border-color: #8c80f7;
    /* transform: translateY(-5px); */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.educationTable {
    /* width: 90%; */
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

/* .educationTable:hover {
    background-color: #D5DBDB;   
} */

/* .educationTable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
} */

.edTableCaption {
    color: blue;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    /* padding-left: 10px; */
}

.educationTable th {
    border: 1px solid #8c80f7;
    text-align: center;
    color: blue;
    font-weight: unset;
    padding: 5px;
}

.educationTable td {
    border: 1px solid #8c80f7;
    text-align: center;
    padding: 5px;
}

.educationTable td a {
    text-decoration: none;
}

.educationTable td a:hover {
    color: blue;
}

.skillSection {
    margin: 10px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: #ECF0F1;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    animation: fadeInUp 1s ease-out 1.5s forwards;
    transition: all 0.3s ease-in-out;
}

.skillSection:hover {
    background-color: #D5DBDB;
    border-color: #8c80f7;
    /* transform: translateY(-5px); */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.flexDiv {
    display: flex;
    justify-content: space-evenly;
}

.technicalSkillCaption {
    color: blue;
    font-size: 20px;
}

.softSkillCaption {
    color: blue;
    font-size: 20px;
}

.skillTypes {
    margin: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #ECF0F1;
    border-radius: 15px;
    box-shadow: 0.5px 1px 8px 1px #8c80f7;
    border: 2px solid transparent;
    animation: fadeInUp 1s ease-out 1.5s forwards;
    transition: all 0.3s ease-in-out;
}

.listDeco {
    list-style-type: disc;
}

.listDeco li::marker {
    color: blue;
}